apiVersion: "v1"
kind: "Service"
metadata:
  labels:
    app.kubernetes.io/name: "{{ .Release.Name }}"
  name: "{{ .Release.Name }}"
  namespace: "{{ .Release.Namespace }}"
spec:
  ports:
    - name: "http"
      port: {{ .Values.grafana.port }}
      protocol: "TCP"
      targetPort: {{ .Values.grafana.port }}
  selector:
    app.kubernetes.io/name: "{{ .Release.Name }}"
  sessionAffinity: "None"
  type: "ClusterIP"
